name: Test

on: push

jobs:

  bach-not-initialized:
    name: 'Bach ${{ matrix.bach }}, Java ${{ matrix.java }}, ${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ] # macos-latest, windows-latest ]
        java: [ 17-ea, 16 ]
        bach: [ 17-ea, 17-ea-1 ]
        test: [ 'bach-not-initialized', 'bach-17-ea-1']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - uses: ./
        with:
          working-directory: test/${{ matrix.test }}
          bach-version: ${{ matrix.bach }}
          bach-arguments: --limit-tools javac,jar build
      - run: java --module-path .bach/workspace/modules --describe-module test
        working-directory: test/${{ matrix.test }}
